version: '2'

services:
  couchbase:
    image: btburnett3/couchbasefakeit:enterprise-6.5.1
    environment:
      - CB_SERVICES=kv,n1ql,index,fts,eventing,cbas
    volumes:
      - "./:/startup"
    ports:
      - "8091-8096:8091-8096"
      - "11207:11207"
      - "11210-11211:11210-11211"
